<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    verbose="true">
    <testsuites>
        <testsuite name="phpWhois Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <file>./phpwhois</file>
            <exclude>
                <directory suffix=".php">./src/old</directory>
                <file>./whois.parser.php</file>
                <file>./whois.servers.php</file>
                <file>./Whois_Old.php</file>
                <file>./WhoisClient.php</file>
                <file>./phpwhois</file>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </blacklist>
    </filter>
</phpunit>